<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>MyListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SavedData</servlet-name>
        <servlet-class>SavedData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BmiC</servlet-name>
        <servlet-class>BmiC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataFetcher</servlet-name>
        <servlet-class>DataFetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productdb</servlet-name>
        <servlet-class>productdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustServlet</servlet-name>
        <servlet-class>CustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderservlet</servlet-name>
        <servlet-class>Orderservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Membership</servlet-name>
        <servlet-class>Membership</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDone</servlet-name>
        <servlet-class>OrderDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>Pay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavedData</servlet-name>
        <url-pattern>/SavedData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BmiC</servlet-name>
        <url-pattern>/BmiC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataFetcher</servlet-name>
        <url-pattern>/DataFetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productdb</servlet-name>
        <url-pattern>/productdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustServlet</servlet-name>
        <url-pattern>/CustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderservlet</servlet-name>
        <url-pattern>/Orderservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Membership</servlet-name>
        <url-pattern>/Membership</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDone</servlet-name>
        <url-pattern>/OrderDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
